{% extends 'importer/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts Page</title>
</head>
<body>
    {% load static %}
    {% block content %}

        <form action="{% url 'setcolumns' %}">
            <select name="name">
                <option value="1" selected="selected">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select> Name
            <select name="dob">
                <option value="1">1</option>
                <option value="2" selected="selected">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select> Date of Birth
            <select name="phone">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected="selected">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select> Phone
            <select name="address">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4" selected="selected">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select> Address
            <select name="cc">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected="selected">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select> CreditCard
            <select name="email">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6" selected="selected">6</option>
                <option value="7">6</option>
            </select> Email
            <input type="checkbox" name="header" checked> Header
            <br>
            <input type="submit" value="Save settings">
        </form>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="contacts_file">

            <button type="submit" class="btn btn-primary">Upload</button>
        </form>

    <table class="table table-bordered">
        <caption></caption>
        <thead>
        <tr>
            <th>Username</th>
            <th>Date of Birth</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Credit Card</th>
            <th>Franchise</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.Name }}</td>
                <td>{{ contact.DOB }}</td>
                <td>{{ contact.Phone }}</td>
                <td>{{ contact.Address }}</td>
                <td>{{ contact.CreditCard }}</td>
                <td>{{ contact.Franchise }}</td>
                <td>{{ contact.Email }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    {% if contacts.has_other_pages %}
        <ul class="pagination">
        {% if contacts.has_previous %}
            <li><a href="?page={{ contacts.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in contacts.paginator.page_range %}
            {% if contacts.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if contacts.has_next %}
            <li><a href="?page={{ contacts.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </ul>
    {% endif %}
        <br>

        <form action="{% url 'cleartable' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">Clear contacts</button>
        </form>
        <br>
        {{ summary }}
    {% endblock %}

</body>
</html>