{% extends 'importer/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts Page</title>
</head>
<body>
    {% load static %}
    {% block content %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="contacts_file">
            <button type="submit">Upload</button>
        </form>

        {% for contact in contacts %}
            {{ contact }}
        {%  endfor %}
    {% endblock %}




</body>
</html>